@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.input-text {
  transition: transform 0.3s ease-in-out;
}

input[type="text"]:focus ~ .input-text,
input[type="email"]:focus ~ .input-text,
input[type="password"]:focus ~ .input-text,
input[type="text"]:not(:placeholder-shown):focus ~ .input-text,
input[type="email"]:not(:placeholder-shown):focus ~ .input-text,
input[type="password"]:not(:placeholder-shown):focus ~ .input-text {
  @apply text-[#111827ae] bg-white transform -translate-y-[30px] -translate-x-0 scale-90;
}

input[type="text"]:not(:placeholder-shown):focus ~ .input-text,
input[type="email"]:not(:placeholder-shown):focus ~ .input-text,
input[type="password"]:not(:placeholder-shown):focus ~ .input-text,
.input-text {
  transform: translateY(-30px) scale(0.9);
  color: #111827ae;
  background-color: #fff;
  border-radius: 200;
  font-weight: 500;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
